---
import Hero from '../components/Herosection.astro';
import Header from "../components/Header.astro";
// import "../styles/global.css";
import Layout from "../layouts/Layout.astro"
import Introductorio from '../components/Introductorio.astro';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Energía - Conoce mas</title>
	<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/src/styles/global.css" />
</head>
  <body>
    <Header />
    <main>
      <Layout />
      <Hero />
      <Introductorio/>
    </main>
  </body>  
</html>
